body{
    background-image: url("/assets/bg-img.jpeg");
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}
.btn{
    background-color: skyblue;
    padding: 10px 50px;
    font-size: 20px;
    border-radius: 7px;
}
